In [1]:
import pandas as pd

# Cargar datasets
df = pd.read_csv("animal_center_vet.csv")
df_prop = pd.read_csv("animal_center_prop.csv")

In [2]:
# 1. ¿De qué raza (“breed”) es el animal con identificador “A668644”?
df.loc[df["animal_id"] == "A668644", "breed"]

100    Chihuahua Shorthair Mix
Name: breed, dtype: object

In [3]:
# 2. Listado de perros de raza “Pit Bull Mix” y edad mayor de un año (365 días)
df[(df["breed"] == "Pit Bull Mix") & (df["age_upon_outcome"] > 365)]

    animal_id  age_upon_outcome animal_type         breed age_category
47    A660098               730         Dog  Pit Bull Mix        adult
53    A545127              2190         Dog  Pit Bull Mix        adult
55    A673648              1095         Dog  Pit Bull Mix        adult
113   A552202              3285         Dog  Pit Bull Mix        adult
150   A666941               730         Dog  Pit Bull Mix        adult
165   A687004              1095         Dog  Pit Bull Mix        adult
174   A580685              1460         Dog  Pit Bull Mix        adult
181   A689369              1460         Dog  Pit Bull Mix        adult
184   A625324              1095         Dog  Pit Bull Mix        adult
191   A672082               730         Dog  Pit Bull Mix        adult

In [4]:
# 3. Cachorro más pequeño (mínima edad) de cada especie (“animal_type”)
df.groupby("animal_type")["age_upon_outcome"].min()

animal_type
Cat      14
Dog       2
Other    28
Name: age_upon_outcome, dtype: int64

In [9]:
# 4. Media de edad por especie y categoría de edad (“age_category”) usando pivot_table
tabla_dinamica = pd.pivot_table(df,
               values="age_upon_outcome",
               index="animal_type",
               columns="age_category",
               aggfunc="mean")
print(tabla_dinamica)

age_category        adult      junior
animal_type
Cat           1786.578947  120.379310
Dog           1645.943396  191.596491
Other          973.333333  258.700000

In [ ]:
# 4. Pivot table intercambiando filas y columnas
pd.pivot_table(df,
               values="age_upon_outcome",
               index="age_category",      # antes estaba en columnas
               columns="animal_type",     # antes estaba en filas
               aggfunc="mean")

animal_type           Cat          Dog       Other
age_category
adult         1786.578947  1645.943396  973.333333
junior         120.379310   191.596491  258.700000

In [10]:
tabla_dinamica.T

animal_type           Cat          Dog       Other
age_category
adult         1786.578947  1645.943396  973.333333
junior         120.379310   191.596491  258.700000

In [11]:
# 5. Media de edad por sexo (“sex_upon_outcome”) mezclando con segundo fichero
# Join con animal_id
merged = df.merge(df_prop, on="animal_id", how="inner")

# Agrupación por sexo
merged.groupby("sex_upon_outcome")["age_upon_outcome"].mean()

sex_upon_outcome
Intact Female     588.965517
Intact Male        97.611111
Neutered Male    1015.463768
Spayed Female     751.859375
Unknown           378.350000
Name: age_upon_outcome, dtype: float64

In [14]:
# 6. Top 10 de animales más pequeños (en días) de color negro
merged[merged["color"] == "Black"].sort_values("age_upon_outcome").head(10).to_csv("report.csv", index=False, sep=",")